.welcome
  text-align: left
  margin-top: 3px

  .dropdown-menu
    right: 0
    left: auto

  .details
    .fa-chevron-down, .fa-chevron-up
      float: right
      margin-top: 3px

  .session
    margin-left: 1em
    margin-right: 70px
    padding: 10px 0
    > .text
      font-size: 16px
      color: $color-grey
      display: inline-block

      small
        font-size: 0.6em

      &.masqueraded
        line-height: 0.8em
        margin-top: -0.2em

  .avatar
    margin: 3px 3px 0
    +box-inline

  +for-desktop
    float: right
    position: relative
    display: inline-block

  .fa-chevron-up
    display: none
  .fa-chevron-down
    display: block

  &.open
    .fa-chevron-down
      display: none
    .fa-chevron-up
      display: block
