%nav.navbar.navbar-expand-lg.navbar-light.bg-light{role: :navigation}
  .container
    .navbar-header
      %button.navbar-toggler{"data-target" => "#menu", "data-toggle" => "collapse", type: "button"}
        %span.sr-only Toggle navigation
        %i.fa.fa-navicon
      %a.navbar-brand{href: "/"}
        = icon :flag
        %span.text= 'app_name'.t
