%template.tpl#resource
  .resource-selector
    %input.form-control{type: :hidden, value:'{{= value}}', data: {name: '{{= setting }}'}}

    .form-group.has-feedback
      %label{for:'{{= id}}'} {{= label}}

      %select.form-select{id: '{{= id}}', style: 'width: 100%', required:'{{= settingParameters.required ? \'required\' : \'no\'}}', placeholder: 'simple_form.placeholders.select'.t}

= render 'shared/setting_field_templates_extra'
