.tpl#integer
  %label{for:'{{= id }}'} {{= label }}
  %input.form-control{type: :number, value:'{{= value != undefined ? value : setting_parameters[\'default\'] || \'\'}}', id:'{{= id }}', step: '{{= setting_parameters.step || 1}}', min: '{{= setting_parameters.min || \'\'}}', max: '{{= setting_parameters.max || \'\'}}', data: {name: '{{= setting }}'}}

.tpl#float
  %label{for:'{{= id }}'} {{= label }}
  %input.form-control{type: :number, value:'{{= value != undefined ? value : setting_parameters[\'default\'] || \'\'}}', id:'{{= id }}', step: '{{= setting_parameters.step || 1}}', min: '{{= setting_parameters.min || \'\'}}', max: '{{= setting_parameters.max || \'\'}}', data: {name: '{{= setting }}'}}

.tpl#string
  %label{for:'{{= id}}'} {{= label}}
  %input.form-control{type: :text, value:'{{= value}}', id:'{{= id}}', data: {name: '{{= setting }}'}}

.tpl#boolean
  %input.form-control{type: :checkbox, value:'{{= value }}', id:'{{= id }}', data: {name: '{{= setting }}'}}
  %label{for:'{{= id }}'} {{= label }}

.tpl#markdown
  %textarea.form-control{id:'{{= id }}', data: {name: '{{= setting }}', editor: 'markdown', iconlibrary: 'fa', language: 'fr', resize: 'vertical'}}
    {{= value || '' }}

.tpl#collection
  %label{for:'{{= id }}'} {{= label }}
  %select.form-control{id:'{{= id }}', style: 'width: 100%', placeholder: 'simple_form.placeholders.select'.t, data: {name: '{{= setting }}'}}
    {{= setting_parameters.values.map(function(v){ return "<option>"+v+"</option>" }).join('') }}

.tpl#date
  %label{for:'{{= id }}'} {{= label }}
  %input.form-control.datepicker{type: :text, value:'{{= value }}', id:'{{= id }}', data: {name: '{{= setting }}'}}

.tpl#datetime
  %label{for:'{{= id }}'} {{= label }}
  %input.form-control.datetimepicker{type: :text, value:'{{= value }}', id:'{{= id }}', data: {name: '{{= setting }}'}}

.tpl#time
  %label{for:'{{= id }}'} {{= label }}
  %input.form-control.timepicker{type: :text, value:'{{= value }}', id:'{{= id }}', data: {name: '{{= setting }}'}}

.tpl#image

  .file
    %label{for: '{{= id }}'} {{= label }}

    .controls
      %input.form-control{style: "display: inline;", type: :text, value: '{{= value }}', id:'{{= id }}', data: {name: '{{= setting }}'}}
      .preview
        .progress
          .progress-bar.progress-bar-success

        {{= value ? '<img class="loaded" src="' + value + '">' : '' }}


      %button.btn.btn-danger.btn-xs= icon :times

      %label{for: '{{= id }}'}

= render 'shared/setting_field_templates_extra'

= render partial: 'direct_download'
