- if item.id.present?
  .item{class: item.class.name.underscore}
    %span.name= link_to resource_label_for(item), controller.resource_path_for(item, :show)

    = render partial: 'list_item_details', locals: {item: item}
- else
  .item{class: item.class.name.underscore}
    %span.name= resource_label_for(item)
