<div class='form-group has-feedback'>
  <div class='controls'>
    <label for='<%= obj.id %>'><%= obj.label %>
      <input type='checkbox'
             id='<%= obj.id %>'
             <% if(obj.value) { %>checked<% } %>
             data-name='<%= obj.setting %>'
             class='form-check-input'>
      </input>
    </label>
  </div>
</div>
