.gdpr__cookie_consent.js-gdpr__cookie_consent
  .gdpr__cookie_consent__text
    = 'gdpr.cookie_consent.text'.t
    != 'gdpr.cookie_consent.learn_more_html'.t(link: t('gdpr.privacy_policy'))

  .gdpr__cookie_consent__buttons
    %button.gdpr__cookie_consent__buttons__ok.js-gdpr__cookie_consent__buttons__ok.btn.btn-outline-primary= 'gdpr.cookie_consent.button_ok'.t
    %button.gdpr__cookie_consent__buttons__ko.js-gdpr__cookie_consent__buttons__ko.btn.btn-outline-danger= 'gdpr.cookie_consent.button_ko'.t
