.form-group.settings {
  .table {
    margin-bottom: 0;
    table-layout: auto;
  }

  .form-group {
    margin-bottom: 0;
  }

  .row, .form-group {
    & + .form-group, & + .additional, & + .row {
      margin-top: 12px;
    }
  }

  .additional {
    &:empty {
      display: none;
    }
  }

  &.has-error {
    .table {
      border-color: $danger;

      th, td {
        &:first-child {
          border-left-color: $danger;
        }

        &:last-child {
          border-right-color: $danger;
        }

        .form-control, .select2-choice {
          border-radius: 3px;
        }
      }

      tbody tr:last-child td {
        border-bottom-color: $danger;
      }
    }
  }

  &.has-success {
    .table {
      border-color: $success;

      th, td {
        &:first-child {
          border-left-color: $success;
        }

        &:last-child {
          border-right-color: $success;
        }

        .form-control, .select2-choice {
          border-radius: 3px;
        }
      }

      tbody tr:last-child td {
        border-bottom-color: $success;
      }
    }
  }
}

.tpl {
  display: none;
}
