= nav_link_to admin_root_path, 'nav.admin.root'.t, :home, :home
= nav_link_to admin_root_path, 'nav.admin.resources'.t, '', :cubes do
  = nav_link_to admin_users_path, 'nav.admin.users'.t, :users, :users
