= nav_link_to admin_root_path, 'nav.admin.root'.t, :home, :home
= nav_link_to admin_root_path, 'nav.admin.resources'.t, :home, :cubes do
  = nav_link_to admin_users_path, 'nav.admin.users'.t, :users, :users
= nav_link_to admin_bp_tests_path, 'nav.admin.bp_tests'.t, :bp_tests, :cubes
