
.btn
  &.btn-red
    background: $color-red
    color: white

    &.btn-icon .fa
      color: $color-red_darker

  &.btn-blue
    background: $color-blue-dark
    color: white

    &.btn-icon .fa
      color: $color-blue-light

  &.btn-blue-light
    background: $color-blue-light
    color: white

    &.btn-icon .fa
      color: $color-blue-dark

  &.btn-grey
    background: $color-grey-dark
    color: white

  &.btn-grey-light
    background: $color-grey
    color: white

  &.btn-small
    font-size: 14px
    padding: 4px 10px 5px

  &.btn-icon
    padding-right: 40px
    +relative
    .fa
      border-left: 1px solid rgba(0,0,0,0.3)
      line-height: 30px
      +box(30px)
      +absolute(-1px, initial, 0, 0)
