
.avatar
  overflow: hidden
  position: relative
  border-radius: 50%

  svg
    +absolute(10%,10%,10%,10%)
    fill: currentColor
    color: $color-grey-medium

  &.default
    background: $color-grey-light
    text-align: center
