@import "adminkit/1-variables/app";
@import "bootstrap/variables";

.expander, .collapser {
  * {
    pointer-events: none;
  }
}

// Feather
.feather {
  vertical-align: sub;
}

// Forms
.form-control.form-check-input {
  padding: 0;
}
.control-label {
  @extend .form-label;
}

.form-switch-lg .form-check-input {
  width: 4em;
  height: 2em;
}

// Pagination

ul.pagination {
  margin: 0;
}

// Buttons
.pills {
  margin-top: -10px;
}

.btn .feather {
  pointer-events: none;
  width: 18px;
  height: 18px;
  vertical-align: sub;
  margin-right: 0.5em;
}

.btn .text {
  pointer-events: none;
}

.btn .spinner-border {
  display: none;
}

.btn.loading .spinner-border {
  display: inline-block;
  margin-left: 0.5em;
}

.btn-xs, .btn-group-xs > .btn {
  padding: 0.1rem 0.25rem;
  font-size: 0.6rem;
  border-radius: 0.1rem;

  .feather {
    width: 14px;
    height: 14px;
  }
}

.btn-sm {
  border-radius: 0.25em;

  &.btn-icon .feather {
    vertical-align: bottom;
  }
}

.btn-sm .feather {
  width: 14px;
  height: 14px;
}

.btn-xl {
  font-size: 1.6rem;

  .feather {
    width: 32px;
    height: 32px;
  }
}

.btn-icon {
  .text {
    display: none;
  }
  .feather {
    margin-right: 0;
  }
}

.dropdown-toggle.no-caret {
  &::after {
    content: none;
  }
}

.dropdown-item .feather {
  margin-right: 0.4em;
}

// Sidebar
.sidebar-brand {
  img {
    height: 40px;
  }
}

.sidebar-toggle .feather {
  width: 26px;
  height: 26px;
}

.sidebar {
  [data-bs-toggle=collapse] {
    position:relative;
  }
  [data-bs-toggle=collapse]:after {
    content:" ";
    border:solid;
    border-width:0 .075rem .075rem 0;
    display:inline-block;
    padding:2px;
    -webkit-transform:rotate(45deg);
    transform:rotate(45deg);
    position:absolute;
    top:1.2rem;
    right:1.5rem;
    transition:all .2s ease-out;
  }
  [aria-expanded=true]:after,
  [data-bs-toggle=collapse]:not(.collapsed):after {
    -webkit-transform:rotate(-135deg);
    transform:rotate(-135deg);
    top:1.4rem;
  }

  // Popper seems to to do shit with dropdown insets
  .dropdown-menu.show {
    inset: auto !important;
  }

  [data-bs-toggle=dropdown] {
    cursor: pointer;
    color: $sidebar-link-color;
  }
}
.sidebar-dropdown {
  [data-bs-toggle=collapse]:after {
    top:1rem;
  }

  [aria-expanded=true]:after,
  [data-bs-toggle=collapse]:not(.collapsed):after {
    top:1.2rem;
  }

  .sidebar-item .sidebar-link {
    padding-left: 3rem;
  }

  .sidebar-item .sidebar-link:hover {
    font-weight: 400;
    border-left: 0;
    color: $sidebar-link-hover-color;
    background: transparent;
  }

  .sidebar-item.active .sidebar-link {
    font-weight: 400;
    border-left: 0;
    color: $blue;
    background: transparent;

    svg {
      stroke: $blue;
    }
  }
}
.sidebar-user {
  padding: .75rem 1.5rem;
}

// Navbar
.dropdown-mega-list {
  min-width: 250px;
}

.navbar .avatar {
  img {
    width: 40px;
    height: 40px;
  }
}

.input-group-navbar {
  .btn,
  .form-control {
    height: calc(2.1875rem + 2px);
    background: $gray-200;
    box-shadow: none;
    border: 0;
    padding: .4rem 1rem;
    border-radius: 20px;

    &:focus {
      background: $gray-200;
      box-shadow: none;
      outline: 0;
    }
  }

  .btn {
    color: $gray-600;
  }
  .btn .feather {
    width: 20px;
    height: 20px;
  }
}

// Cards
.card {
  >.dataTables_wrapper .table.dataTable,
  >.table,
  >.table-responsive-lg .table,
  >.table-responsive-md .table,
  >.table-responsive-sm .table,
  >.table-responsive-xl .table,
  >.table-responsive .table {
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
    margin-bottom: 0;
  }
  >.dataTables_wrapper .table.dataTable td:first-child,
  >.dataTables_wrapper .table.dataTable th:first-child,
  >.table-responsive-lg .table td:first-child,
  >.table-responsive-lg .table th:first-child,
  >.table-responsive-md .table td:first-child,
  >.table-responsive-md .table th:first-child,
  >.table-responsive-sm .table td:first-child,
  >.table-responsive-sm .table th:first-child,
  >.table-responsive-xl .table td:first-child,
  >.table-responsive-xl .table th:first-child,
  >.table-responsive .table td:first-child,
  >.table-responsive .table th:first-child,
  >.table td:first-child,
  >.table th:first-child {
    border-left: 0;
    padding-left: 1.25rem;
  }
  >.dataTables_wrapper .table.dataTable td:last-child,
  >.dataTables_wrapper .table.dataTable th:last-child,
  >.table-responsive-lg .table td:last-child,
  >.table-responsive-lg .table th:last-child,
  >.table-responsive-md .table td:last-child,
  >.table-responsive-md .table th:last-child,
  >.table-responsive-sm .table td:last-child,
  >.table-responsive-sm .table th:last-child,
  >.table-responsive-xl .table td:last-child,
  >.table-responsive-xl .table th:last-child,
  >.table-responsive .table td:last-child,
  >.table-responsive .table th:last-child,
  >.table td:last-child,
  >.table th:last-child {
    border-right: 0;
    padding-right: 1.25rem;
  }
  >.dataTables_wrapper .table.dataTable tr:first-child td,
  >.dataTables_wrapper .table.dataTable tr:first-child th,
  >.table-responsive-lg .table tr:first-child td,
  >.table-responsive-lg .table tr:first-child th,
  >.table-responsive-md .table tr:first-child td,
  >.table-responsive-md .table tr:first-child th,
  >.table-responsive-sm .table tr:first-child td,
  >.table-responsive-sm .table tr:first-child th,
  >.table-responsive-xl .table tr:first-child td,
  >.table-responsive-xl .table tr:first-child th,
  >.table-responsive .table tr:first-child td,
  >.table-responsive .table tr:first-child th,
  >.table tr:first-child td,
  >.table tr:first-child th {
    border-top: 0;
  }
  >.dataTables_wrapper:last-child .table.dataTable tr:last-child td,
  >.table-responsive-lg:last-child .table tr:last-child td,
  >.table-responsive-md:last-child .table tr:last-child td,
  >.table-responsive-sm:last-child .table tr:last-child td,
  >.table-responsive-xl:last-child .table tr:last-child td,
  >.table-responsive:last-child .table tr:last-child td,
  >.table:last-child tr:last-child td {
    border-bottom: 0;
  }
   .card-header + .table {
    border-top: 0;
  }

  .card-title a {
    color: inherit;
  }

  > .d-flex .table {
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
    margin-bottom: 0;

    & :last-child tr:last-child td {
      border-bottom: 0;
    }
  }
}

// Tables
th, .table th {
  white-space: nowrap;

  &.with-sort {
    padding-right: 20px;
    position: relative;

    .btn {
      position: absolute;
      right: 0;
    }
  }
}

th, td {
  &.nowrap {
    white-space: nowrap;
  }

  &.compact {
    width: 0;
  }

  img {
    max-width: 100%;
  }
}

.table > :not(:first-child) {
  border-top: none;
}

.table.dragged {
  pointer-events: none;
  background: white;
  opacity: 0.5;
}

.dnd-placeholder {
  background: $gray-200;
}

.drag-handle {
  cursor: move;
}

.no-action-labels {
  .btn {
    .text {
      display: none;
      position: absolute;
    }

    .feather {
      margin-right: 0;
    }

    &:hover, &:active, &:focus {
      position: relative;
      .text {
        display: inline-block;
        background: black;
        color: white;
        pointer-events: none;
        left: 50%;
        bottom: 100%;
        transform: translate(-50%, -8px);
        padding: 4px 6px;
        border-radius: 0.25em;

        &::before {
          position: absolute;
          content: "";
          border-color: transparent;
          border-style: solid;
          left: 50%;
          bottom: -$tooltip-arrow-height;
          border-width: $tooltip-arrow-height ($tooltip-arrow-width * .5) 0;
          border-top-color: $tooltip-arrow-color;
          transform: translate(-50%, 0);
        }
      }
    }
  }
}

[data-sort] .btn {
  padding: 0;
  svg {
    vertical-align: middle;
  }
}

.table-active {
  --bs-table-accent-bg: rgba(245, 247, 251, 1);
}

.form-group, .file-input-container {
  & + & {
    margin-top: 12px;
  }
}

// Carousel

.carousel-caption {
  h1, h2, h3, h4, h5, h6 {
    color: white;
  }
}

.carousel-caption {
  h1, h2, h3, h4, h5, h6 {
    color: white;
  }
}

.carousel-dark .carousel-caption {
  h1, h2, h3, h4, h5, h6 {
    color: black;
  }
}

.dropcap {
  &.dc-1 {
    font-size: 300%;
  }

  &.dc-2 {
    font-size: 250%;
  }

  &.dc-3 {
    font-size: 200%;
  }
  &.dc-4 {
    font-size: 150%;
  }
}

// Grids

.cards-grid {
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);

  &.col-3 {
    grid-template-columns: repeat(3, 1fr);
  }

  &.col-4 {
    grid-template-columns: repeat(3, 1fr);
  }

  .card {
    margin: 0;
  }

  .remove_nested_fields_link {
    position: absolute;
    right: 8px;
    top: 8px;
  }
}

