@import 'bootstrap/variables'

@import "mixins/boxes";
@import "mixins/pseudo_elements";
@import "mixins/text";

$font-title: Oswald, Helvetica, sans-serif;
$font-interface: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, "Open Sans", Arial, "Lucida Grande", sans-serif, sans;

@mixin no_margin {
  margin: 0;
}

@mixin no_padding {
  padding: 0;
}

@mixin no_border {
  border: none;
}

@mixin padding {
  padding: 20px;
}

@mixin small_padding {
  padding: 10px 20px;
}

@mixin reset_box {
  @include no_margin;
  @include no_padding;
}

@mixin border_bottom {
  border-bottom: 1px solid $gray-400;
}

@mixin section {
  @include padding;
  @include border_bottom;
}

@mixin centered_box {
  margin: 0 auto;
}

@mixin font_interface {
  font-family: $font-interface;
}

@mixin font_title {
  font-family: $font-title;
}

@mixin align_center {
  text-align: center;
}

@mixin align_right {
  text-align: right;
}

@mixin align_left {
  text-align: left;
}

@mixin image_default {
  @include no_margin;

  border: none;
  width: 100%;
  display: block;
}

@mixin body {
  background: $gray-400;

  @include reset_box;
  @include align_center;
}

@mixin title_medium {
  font-size: 20px;
  font-weight: normal;
  text-transform: uppercase;
  color: $gray-700;
}

@mixin title_large {
  font-size: 30px;
  font-weight: bold;
}

@mixin link {
  text-decoration: none;
  cursor: pointer;
  color: $info;
}

@mixin list {
  @include no_margin;
  @include no_padding;

  margin-top: 20px;
}

@mixin list_item {
  @include no_margin;
  @include no_padding;

  list-style: none;
}

@mixin base_tables {
  border-collapse: collapse;
}

@mixin common_tables {
  @include base_tables;

  clear: both;
  margin-bottom: 0px;
  width: 640px;
}

@mixin common_p {
  font-size: 16px;
  line-height: 24px;
}

@mixin footer {
  background: $gray-900;
}

@mixin section_space {
  margin-top: 24px;
}

@mixin in_section_space {
  margin-top: 12px;
}

@mixin article_space {
  margin-top: 6px;
}

@mixin article_desktop_title {
  margin-top: -5px;
}

@mixin button {
  background: $gray-900;
  color: white;
  text-transform: uppercase;
  padding: 6px 10px 8px;
  text-decoration: none;
  font-size: 18px;
}
