@import bootstrap
@import 'bootstrap/variables'

// @import partials/common
// @import partials/variables
// @import partials/fonts
// @import partials/panel

@import partials/mixins
@import partials/responsive
@import partials/framework_and_overrides
@import partials/avatar

@import partials/inputs/select
@import partials/inputs/file

// @import partials/inputs/all

.direct-upload-section
  visibility: hidden
  +fixed

html, body
  width: 100%
  height: 100%
  margin: 0
  overflow-x: hidden
  background-color: $gray-200
