
-# - toggle_pill resource, :approve, off: :revocate do |on|
-#   - if on
-#     = icon('sign-out')
-#     %span.text= 'admin.actions.revocate'.t
-#   - else
-#     = icon(:check)
-#     %span.text= 'admin.actions.approve'.t
