- if can?(:unlock_access, item) && item.locked_at.present?
  = link_to unlock_access_admin_user_path(item), method: :put, class: 'btn btn-outline-warning', data: {confirm: "confirmations.unlock_access".t} do |on|
    = icon('lock')
    %span.text= 'actions.unlock_access'.t
