-# = toggle_action item, :approve, off: :revocate do |on|
-#   - if on
-#     = icon 'sign-out'
-#     %span.text= 'actions.revocate'.t
-#   - else
-#     = icon 'sign-in'
-#     %span.text= 'actions.approve'.t
