<div class='form-group has-feedback'>
  <div class='controls'>
    <input type='checkbox'
           id='<%= locals.id %>'
           <% if(locals.value) { %>checked<% } %>
           data-name='<%= locals.setting %>'
           class='form-check-input'>
    </input>
    <label for='<%= locals.id %>'><%= locals.label %>
    </label>
  </div>
</div>
