- if CarrierWave::Uploader::Base.storage == CarrierWave::Storage::AWS
  %section.direct-upload-section
    %form{ action: "//#{ENV['ASSET_HOST']}", method: 'post', enctype: 'multipart/form-data', class: 'direct-upload' }
      %input{ type: :hidden, name: :key }
      %input{ type: :hidden, name: 'AWSAccessKeyId', value: CarrierWave::Uploader::Base.aws_credentials[:access_key_id] }
      %input{ type: :hidden, name: :acl, value: 'public-read' }
      %input{ type: :hidden, name: :policy }
      %input{ type: :hidden, name: :signature }
      %input{ type: :hidden, name: :success_action_status, value: "201" }
      %input{ type: :file, name: :file }
