= simple_form_for resource, url: controller.controller_namespace + [resource] do |f|

  %fieldset.inputs.card-body
    = inputs_for resource, f

  %fieldset.inputs.card-body
    = render_partial_for_user 'form_extra_fields', locals: local_assigns.merge(form: f)

  = default_actions
