- if item.id.present?
  = contextual_partial 'list_item_before_details', locals: local_assigns
  = contextual_partial 'list_item_label', locals: local_assigns
  = contextual_partial 'list_item_after_details', locals: local_assigns
- else
  .item{class: item.class.name.underscore}
    %span.name= resource_label_for(item)
