- resource_name = collection_class.t

%table.table
  %thead
    - if pagination.present?
      %tr
        %td{colspan: 12}= pagination
    %tr= contextual_partial 'list_header', locals: {resource_name: resource_name}

  %tbody
    - collection.each do |item|
      %tr= contextual_partial 'list_row', locals: {item: item}

    - if pagination.present?
      %tr
        %td{colspan: 12}= pagination


