- content_for :before_page do
  = render_partial_for_user 'index_before_content'

= render_partial_for_user 'index_header'
= render_partial_for_user 'index'

- content_for :after_page do
  = render_partial_for_user 'index_after_content'
