.navbar-nav.d-none.d-lg-block
  / %li.nav-item.px-2.dropdown
  /   %a.nav-link.dropdown-toggle{aria: {expanded: "true", haspopup: "true"}, "data-bs-toggle" => "dropdown", href: "#", role: "button"}
  /     Mega Menu
  /   .dropdown-menu.dropdown-menu-start.dropdown-mega{"aria-labelledby" => "servicesDropdown", "data-bs-popper" => "none"}
  /     .d-md-flex.align-items-start.justify-content-start
  /       .dropdown-mega-list
  /         .dropdown-header UI Elements
  /         %a.dropdown-item{:href => "#"} Alerts
  /         %a.dropdown-item{:href => "#"} Buttons
  /         %a.dropdown-item{:href => "#"} Cards
  /         %a.dropdown-item{:href => "#"} Carousel
  /         %a.dropdown-item{:href => "#"} General
  /         %a.dropdown-item{:href => "#"} Grid
  /         %a.dropdown-item{:href => "#"} Modals
  /         %a.dropdown-item{:href => "#"} Tabs
  /         %a.dropdown-item{:href => "#"} Typography
  /       .dropdown-mega-list
  /         .dropdown-header Forms
  /         %a.dropdown-item{:href => "#"} Layouts
  /         %a.dropdown-item{:href => "#"} Basic Inputs
  /         %a.dropdown-item{:href => "#"} Input Groups
  /         %a.dropdown-item{:href => "#"} Advanced Inputs
  /         %a.dropdown-item{:href => "#"} Editors
  /         %a.dropdown-item{:href => "#"} Validation
  /         %a.dropdown-item{:href => "#"} Wizard
  /       .dropdown-mega-list
  /         .dropdown-header Tables
  /         %a.dropdown-item{:href => "#"} Basic Tables
  /         %a.dropdown-item{:href => "#"} Responsive Table
  /         %a.dropdown-item{:href => "#"} Table with Buttons
  /         %a.dropdown-item{:href => "#"} Column Search
  /         %a.dropdown-item{:href => "#"} Muulti Selection
  /         %a.dropdown-item{:href => "#"} Ajax Sourced Data
