@import partials/inputs/checkboxes_radios
@import partials/inputs/datepicker
@import partials/inputs/file
@import partials/inputs/markdown
@import partials/inputs/settings
@import partials/inputs/select
@import pwdcalc

=sharp_corner_inputs
  .input-group-addon
    border-radius: 0

  .select2-container .select2-choice
    border-radius: 0 !important

  .form-control
    border-radius: 0

  .alert
    border-radius: 0

=round_corner_inputs
  .form-group.date, .form-group.datetime
    .form-control
      border-radius: 0 3px 3px 0 !important

    &.has-error
      .input-group-addon
        border-bottom-left-radius: 0

      .form-control
        border-bottom-right-radius: 0 !important

  .form-group.has-error
    .form-control, .select2-choice
      border-radius: 3px 3px 0 0

    .alert
      border-radius: 0 0 3px 3px

=uppercase_labels
  .control-label
    text-transform: uppercase

.form-group
  .control-label
    font-weight: normal

  .alert
    display: block
    border-top-width: 0
    padding: 8px
    margin-bottom: 0

  &.boolean .alert
    border-top-width: 1px

.controls
  position: relative

.password-strength-meter
  margin: 0
  position: absolute
  display: inline-block
  top: 8px
  right: 70px

  .has-error &, .has-error &
    right: 90px

.pwdcalc-score
  top: 11px
  height: 13px
  right: 10px

  b
    +transition(width 0.2s, background 0.3s)

  .has-error &, .has-error &
    right: 32px

.pwdcalc-hint
  display: none

.form-control-feedback
  display: none

.has-error, .has-success
  .form-control-feedback
    display: block

input, textarea
  width: 100%

textarea
  min-height: 150px
  max-height: 500px

input
  -webkit-appearance: none

fieldset
  margin-bottom: 30px
  &.first legend
    margin-top: 10px

  legend
    margin: 0 -15px 15px
    padding: 0 15px
    box-sizing: content-box

+round_corner_inputs
